{% load static %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
<nav class="navbar">

    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/eightest-logo.png' %}" alt="logo">
        </a>
    </div>

    <div class="center">
        <ul class="nav-links">
            <li>
                <a>DASHBOARD</a>
            </li>
            <li>
                <a>HISTORY</a>
            </li>
            <li>
                <a>SCHEDULER</a>
            </li>
        </ul>
    </div>

    <div class="right">    
        <a class="button" href="{% url 'function' %}">
            <button>
                <i class="fas fa-cog"></i>
                Settings
            </button>
        </a>
    </div>
</nav>
<div class="progressbar-container">
    <div class="center">
        <div class="label">
            TEST EXECUTION
        </div>
        <div class="progress-bar-inner">
            

            <a class="action-button" href="{% url 'function' %}">
                <button>
                    <i class="fas fa-play"></i>
                </button>
            </a>
            <!-- <div class="progress-bar">
                <progress value="55" max="100"></progress>  
            </div> -->
            <div class="progress-bar">
                <div class="progress success" role="progress-bar">
                </div>
                <div class="progress error" role="progress-bar">
                </div>
                <div class="progress failed" role="progress-bar">
                </div>
                <div class="progress overall" role="progress-bar">
                </div>
            </div>
            <a class="tests-text">
                59/68
            </a>
        </div>
        <div class="labels-container">
            <ul class="labels">
                <li>
                    <a class="label passed">PASSED:</a>
                    <a>53</a>
                </li>
                <li>
                    <a class="label error">ERROR:</a>
                    <a>4</a>
                </li>
                <li>
                    <a class="label failed">FAILED:</a>
                    <a>2</a>
                </li>
                <li>
                    <a class="label notrun">NOT RUN:</a>
                    <a>9</a>
                </li>
            </ul>
        </div>
    </div>
</div>

