{% load static %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
<nav class="navbar">
    
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/eightest-logo.png' %}" alt="logo">
        </a>
    </div>

    <div class="center">
        <ul class="nav-links">
            <li>
                <a href="{% url 'home' %}">DASHBOARD</a>
            </li>
            <li>
                <a href="{% url 'history' %}">HISTORY</a>
            </li>
            <li>
                <a>SCHEDULER</a>
            </li>
        </ul>
    </div>

    <script>
        $(document).ready(function() {
            updateState()
            
            function updateState() {
            $.ajax({
                url: "{% url 'get_response' %}", // if you have dynamic url
                type: 'GET'
            })
            .done(response => {
                const data = response;
                const allTests = response["name"]["passed"] + response["name"]["error"] + response["name"]["failed"] + response["name"]["notrun"];
                var oneWidth = 600 / parseInt(allTests)

                $('a[id="value-passed"]').contents().last()[0].textContent=response["name"]["passed"];
                $('a[id="value-error"]').contents().last()[0].textContent=response["name"]["error"];
                $('a[id="value-failed"]').contents().last()[0].textContent=response["name"]["failed"];
                $('a[id="value-notrun"]').contents().last()[0].textContent=response["name"]["notrun"];
                passed = document.getElementById('css-passed')
                error = document.getElementById('css-error')
                failed = document.getElementById('css-failed')
                
                passed.style.width = parseInt(response["name"]["passed"]) * oneWidth + 'px'
                error.style.width = parseInt(response["name"]["error"]) * oneWidth + parseInt(response["name"]["passed"]) * oneWidth + 'px'
                failed.style.width = parseInt(response["name"]["failed"]) * oneWidth + parseInt(response["name"]["error"]) * oneWidth + parseInt(response["name"]["passed"]) * oneWidth + 'px'


                function myFunction(item, index, arr) {
                    // console.log(item["process"]["test_name"] + item["result"]["status"])
                    if (response["name"]["list"][index] != undefined) {
                        var invalid = false;
                        $("#results li").each((id, elem) => {
                            if (elem.innerText == item["process"]["test_name"] + " - " + item["result"]["status"]) {
                                // console.log(elem.innerText);
                                invalid = true
                                return
                            }})
                        if (invalid == true) { return }

                        var ul = document.getElementById("results");
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(response["name"]["list"][index]["process"]["test_name"]));
                        li.appendChild(document.createTextNode(" - "));
                        li.appendChild(document.createTextNode(response["name"]["list"][index]["result"]["status"]))
                        ul.appendChild(li);
                    }
                }

                response["name"]["list"].forEach(myFunction);

                setTimeout(function() {
                updateState()
                }, 1000)
            })}
        })
    </script>

    <script>
        function changeIcon(anchor) {
        var icon = anchor.querySelector("i");
        icon.classList.toggle('fa-pause');
        icon.classList.toggle('fa-play');
        }
    </script>

    <script>
        function resetData() {
            $.ajax({
                url: "{% url 'reset' %}",
                type: 'GET'
            })
            .done(response => {
                const data = response;
                window.location.href = '/';
            })
        }
    </script>

    <div class="right">
        <a class="button">
            <button>
                <i class="fas fa-cog"></i>
                Settings
            </button>
        </a>
    </div>
</nav>

<div class="progressbar-container">
    <div class="center">
        <div class="label">
            TEST EXECUTION
        </div>
        <div class="progress-bar-inner">
            

            <a class="action-button" onclick="changeIcon(this)" href="{% url 'get_playpause' %}">
                <button>
                    <i class="fas fa-pause"></i>
                </button>
            </a>

            <div class="progress-bar">
                <div id="css-passed" class="progress success" role="progress-bar">
                </div>
                <div id="css-error" class="progress error" role="progress-bar">
                </div>
                <div id="css-failed" class="progress failed" role="progress-bar">
                </div>
                <div id="css-overall" class="progress overall" role="progress-bar">
                </div>
            </div>

            <a class="tests-text">
                0/0
            </a>
            <a class="action-button" style="margin-left: 15px;" onclick="resetData()">
                <button>
                    <i class="fas fa-sync"></i>
                </button>
            </a>

        </div>
        <div class="labels-container">
            <ul class="labels">
                <li>
                    <a class="label passed">PASSED:</a>
                    <a id="value-passed">0</a>
                </li>
                <li>
                    <a class="label error">ERROR:</a>
                    <a id="value-error">0</a>
                </li>
                <li>
                    <a class="label failed">FAILED:</a>
                    <a id="value-failed">0</a>
                </li>
                <li>
                    <a class="label notrun">NOT RUN:</a>
                    <a id="value-notrun">0</a>
                </li>
            </ul>
        </div>

        <ul id="results">

        </ul>

    </div>
</div>

