$sucess-value: 300px
$error-value: $sucess-value + 50px
$failed-value: $error-value + 20px
$overall-width: 600px

.home
    color: gray
    position: absolute
    left: 50%
    top: 50%
    font-weight: bold
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

.unordlist
    columns: 2
    -webkit-columns: 2
    -moz-columns: 2

$eightest-main: #1b3039

.buttonik
    color: #dedede
    border: none
    margin-top: 20px
    cursor: pointer
    font-size: 16px
    font-weight: 500
    border-radius: 50px
    letter-spacing: 1px
    background: $eightest-main
    padding: 10px 30px
    transition: all 0.3s ease 0s

.buttonik:hover
    transform: scale(1.05)
    background-color: #2c5363

.centerowanie
    display: flex
    align-items: center
    justify-content: center

.elemencik
    font-size: 18px
    font-weight: 600
    padding: 0px 10px
    cursor: pointer
    color: #4f6066

.list-elem
    font-size: 18px
    padding: 0 10px
    margin-bottom: 5px
    border-radius: 15px
    background: #f5f5f5
    list-style-type: none

.myinput
    margin-right: 10px
    

