@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    font-size: px;
}

.navbar {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 20px;
}

.navbar .logo {
    cursor: pointer;
}

.navbar .logo a {
    display: block;
    text-align: center;
}

.navbar .logo img {
    height: 40px;
    width: auto;
    vertical-align: middle; 
}

.navbar .nav-links li {
    display: inline-block;
    font-weight: 300;
    color: #d4e5ed;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0 15px;
    border-bottom: 1px solid transparent;    
    transition: all .5s ease-in;
}

.navbar .nav-links li:hover{
    border-bottom: 1px solid #919ca1; 
}

.navbar .button button {
    color: #1b3039;
    border: none;
    cursor: pointer;
    padding: 6px 15px 6px 15px;
    background: #70909D;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
}

.fa-cog {
    margin: auto;
    padding-right: 5px;

}

.navbar .button button:hover{
    background-color: #e2f1f8;
    transform: scale(1.05);
}

.center {
    display: flex;
    align-items: center;
}

.testexecution-container {
    height: 180px;
    border: 1px solid gray;
}

.testexecution-container .center {
    display: block;
    height: 180px;
    margin: auto;
    text-align: center;
    color: black;
    width: 50%;
    border: 1px solid blue
}

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.test-execution-label {
    font-size: 24px;
    font-weight: 600;
    color: #1B3039;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 40px 0 20px 0;
}


.center .play-pause-button button {
    color: #1b3039;
    border: none;
    cursor: pointer;
    padding: 9px 12px 9px 15px;
    background: #eceff1;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    border-radius: 30px;
}

.center .play-pause-button button:hover{
    background-color: #e2f1f8;
    transform: scale(1.1);
}

.progress-bar progress { 
    /* Turns off default styling */ 
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 700px;  
    height: 35px;
    padding: 0 15px 0 15px
}  

.progress-bar progress::-webkit-progress-bar {
    background-color: #467A97;
    border-radius: 50px;
    color: aqua;
    height: 50px;
}

progress::-webkit-progress-value {
    background-color: #469767;
    border-radius: 50px;
}

.tests-text {
    color: #1b3039;
    border: none;
    padding: 3px 10px;
    background: #eceff1;
    font-weight: 700;
    border-radius: 50px;
    font-size: medium;
}

.progress-bar-success {
    border-radius: 50px !important;
}

.progress-bar-warning {
    border-radius: 50px !important;
}

.progress-bar-danger {
    border-radius: 50px !important;
}

.progress {
    border-radius: 50px !important;
}