@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif; }

.navbar {
  height: 60px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #1b3039; }
  .navbar .logo {
    cursor: pointer; }
    .navbar .logo a {
      display: block;
      text-align: center; }
    .navbar .logo img {
      height: 40px;
      vertical-align: middle; }
  .navbar .nav-links li {
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 300;
    color: #d4e5ed;
    letter-spacing: 1px;
    display: inline-block;
    transition: all .5s ease-in;
    border-bottom: 1px solid transparent; }
  .navbar .nav-links li:hover {
    border-bottom: 1px solid #919ca1; }
  .navbar .button button {
    color: #1b3039;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 1px;
    background: #70909D;
    padding: 6px 15px 6px 15px;
    transition: all 0.3s ease 0s; }
  .navbar .button button:hover {
    transform: scale(1.05);
    background-color: #e2f1f8; }
  .navbar .fa-cog {
    margin: auto;
    padding-right: 5px; }
  .navbar .center {
    display: flex;
    align-items: center; }

.progressbar-container {
  height: 130px; }
  .progressbar-container .center {
    width: 50%;
    margin: auto;
    color: black;
    height: 130px;
    display: block;
    text-align: center;
    border-bottom: 2px solid #eaeaea; }
    .progressbar-container .center .label {
      font-size: 18px;
      font-weight: 600;
      color: #1B3039;
      letter-spacing: 2px;
      margin: 40px 0 10px 0; }
    .progressbar-container .center .progress-bar-inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .progressbar-container .center .progress-bar {
      height: 45px;
      width: 600px;
      align-items: center;
      margin: 0 10px;
      justify-content: center; }
      .progressbar-container .center .progress-bar .progress {
        height: 45px;
        float: left;
        position: absolute;
        border-radius: 50px; }
      .progressbar-container .center .progress-bar .success {
        z-index: 4;
        width: 450px;
        background: #469767; }
      .progressbar-container .center .progress-bar .error {
        z-index: 3;
        width: 500px;
        background: #E7B400; }
      .progressbar-container .center .progress-bar .failed {
        z-index: 2;
        width: 520px;
        background: #AF0000; }
      .progressbar-container .center .progress-bar .overall {
        z-index: 1;
        width: 600px;
        background: #467A97; }
    .progressbar-container .center .action-button button {
      color: white;
      border: none;
      cursor: pointer;
      font-size: 18px;
      border-radius: 30px;
      background: #1b3039;
      padding: 12px 13px 12px 15px;
      transition: all 0.3s ease 0s; }
    .progressbar-container .center .action-button button:hover {
      transform: scale(1.1);
      background-color: #255264; }
    .progressbar-container .center .tests-text {
      color: #1b3039;
      border: none;
      font-weight: 700;
      font-size: medium;
      padding: 3px 10px;
      border-radius: 50px;
      background: #eceff1; }
    .progressbar-container .center .labels-container {
      height: 40px;
      margin: 10px 0; }
      .progressbar-container .center .labels-container .label {
        font-size: 16px; }
      .progressbar-container .center .labels-container .passed {
        color: #469767; }
      .progressbar-container .center .labels-container .error {
        color: #e8bc21; }
      .progressbar-container .center .labels-container .failed {
        color: #e11b1b; }
      .progressbar-container .center .labels-container .notrun {
        color: #467A97; }
      .progressbar-container .center .labels-container li {
        margin: 0 10px;
        font-size: 16px;
        font-weight: 700;
        color: #1b3039;
        letter-spacing: 1px;
        display: inline-block; }

/*# sourceMappingURL=navbar.css.map */